body{
    user-select: none;
}

.fas {
    color: #525659;
    height: auto;
    margin-top: 0.5rem;
  }
  
  .navbar {
    height: auto;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 1rem;
  }
  
  .navbar .logo img {
    height: 1.5rem;
    width: 6rem;
    object-fit: cover;
  }
  
  .navbar .menubar, .navbar .nav_button {
    display: none;
  }
  
  .top {
    background-image: url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/contactUs.png);
    background-size: fill;
    background-position: 50% 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 17.5rem;
    padding: 0;
  }
  
  .top .heading_container h1, .top .heading_container span {
    color: white;
  }
  
  .top .heading_container h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  
  .top .heading_container span {
    font-family: Nexa-Light;
  }
  
  .data {
    padding: 2.5rem 2rem;
  }
  
  .data .data_container {
    padding: 1.5rem 1rem;
    border: 1px solid #dbd8d8;
    display: grid;
    row-gap: 3rem;
  }
  
  .data .data_container .part1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .data .data_container .part1 img {
    max-height: 25rem;
    max-width: auto;
    margin-bottom: 1rem;
  }
  
  .data .data_container .part1 .dark-blue {
    font-family: Nexa-Bold;
    border-radius: 0;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    width: 100%;
  }
  
  .data .data_container .part2 header {
    position: relative;
    display: grid;
    row-gap: 1.5rem;
  }
  
  .data .data_container .part2 header .container {
    display: grid;
    row-gap: 2rem;
  }
  
  .data .data_container .part2 header .container .part1, .data .data_container .part2 header .container .part2 {
    display: grid;
    grid-template-columns: 1fr 9fr;
    align-items: center;
    justify-content: center;
  }
  
  .data .data_container .part2 header .container .part1 .fas, .data .data_container .part2 header .container .part2 .fas {
    margin: 0;
    margin-right: 1rem;
    color: #167ddd;
  }
  
  .data .data_container .part2 header .container .part1 span, .data .data_container .part2 header .container .part2 span {
    font-family: Nexa-Light;
    text-align: left;
    color: #222844;
    font-size: 1rem;
  }
  
  .data .data_container .part2 header h2 {
    color: #167ddd;
    text-align: left;
    margin-left: 2rem;
    font-size: 1.9rem;
  }
  
  .data .data_container .part2 header h2::before {
    content: "";
    background-color: #167ddd;
    width: 2rem;
    height: 0.15rem;
    position: absolute;
    left: -17px;
    top: 12px;
  }
  
  .data .data_container .part2 header p {
    text-align: left;
  }
  
  .data .data_container .part2 .heading {
    list-style: none;
    display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
    height: 4rem;
    border-bottom: 1px dashed #666565;
  }
  
  .data .data_container .part2 .heading .part1 {
    display: grid;
        grid-template-columns: 1fr 5fr;
        align-content: center;
            justify-content: center;
  }
  
  .data .data_container .part2 .heading .part1 i {
    margin: 0;
    text-align: left;
    font-size: 1.2rem;
    margin-bottom: 0.25rem;
    margin-right: 1rem;
    color: #167ddd;
  }
  
  .data .data_container .part2 .heading .part1 h4 {
    margin-bottom: 0;
    text-align: left;
    line-height: normal;
    color: #167ddd;
    font-size: 1.2rem;
  }
  
  .data .data_container .part2 .heading .part2 {
    background-color: #d1e5f5;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    display: flex;
            align-items: center;
            justify-content: center;
  }
  
  .data .data_container .part2 .heading .part2 i {
    color: #167ddd;
    font-size: 0.9rem;
    margin: 0;
  }
  
  .data .data_container .part2 .heading_data {
    background-color: #d1e5f5;
    padding: 0 0.75rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease;
  }
  
  .data .data_container .part2 .heading_data p {
    font-size: 1.1rem;
    letter-spacing: 0.05rem;
    text-align: left;
    margin-bottom: 0;
    margin: 1rem;
  }
  
  .help {
    text-align: center;
    background-color: #93bede;
  }
  
  .help h2 {
    font-size: 1.6rem;
    color: white;
  }
  
  .help .sky-blue {
    font-size: 1rem;
    padding: 0.65rem 0.9rem;
    border-radius: 5px;
  }
  
  .footer {
    background-color: #222844;
    padding: 1rem;
    text-align: center;
  }
  
  .footer .social_media {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .footer .social_media .fab {
    margin-right: 1rem;
  }
  
  .footer img {
    width: 11rem;
    height: 3rem;
    object-fit: contain;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .footer li, .footer i, .footer p {
    color: #cccccc;
  }
  
  .footer li {
    font-size: 16px;
    margin-bottom: 1.15rem;
  }
  
  .footer .copyright p {
    font-weight: 500;
    letter-spacing: 0;
    margin-bottom: 0.75rem;
  }
  
  @media only screen and (min-width: 728px) {
    .navbar {
      padding: 1rem 2rem;
    }
    .data .data_container {
      padding: 1.5rem;
      display: grid;
      grid-template-columns: 6fr 3fr;
      column-gap: 2rem;
      align-items: flex-start;
    }
    .data .data_container .part1 {
      grid-column: 2;
      grid-row: 1;
    }
    .data .data_container .part1 img {
      max-height: 22rem;
    }
    .data .data_container .part2 header {

      display: grid;
      row-gap: 1rem;
    }
    .data .data_container .part2 header .container {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    column-gap: 2rem;
    }
    .data .data_container .part2 header .container .part1 {
      grid-column: 1;
    }
    .data .data_container .part2 header .container .part1 span {
      line-height: 1.5rem;
    }
    .data .data_container .part2 header h2 {
      text-align: left;
      margin-left: 0;
    }
    .data .data_container .part2 header h2::before {
      left: -1.5rem;
      width: 1.25rem;
      top: 10px;
    }
    .data .data_container .part2 header p {
      text-align: left;
    }
    .footer {
      padding: 1rem 2rem;
      display: grid;
      grid-template-columns: 3fr 1.5fr;
      grid-template-rows: repeat(2, 0.5fr);
      background-color: white;
      border-top: 1px solid #dbd8d8;
      border-bottom: 4px solid #167ddd;
    }
    .footer li, .footer i, .footer p {
      color: #222844;
      margin-bottom: 0;
    }
    .footer li {
      font-size: 0.9rem;
      letter-spacing: 0;
    }
    .footer p {
      color: black;
      font-weight: 700;
      font-size: 0.9rem;
    }
    .footer img {
      grid-column: 2/2;
    justify-self: end;
    align-self: center;
    }
    .footer .tags {
        grid-column: 1/2;
        grid-row: 1/2;
        align-self: center;
        text-align: center;
        max-width: 450px;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .footer .social_media {
      grid-column: 2/2;
      grid-row: 2/2;
          justify-self: end;
          align-self: center;
      margin-bottom: 0;
    }
    .footer .social_media .fab {
      margin-right: 1.30rem;
    }
    .footer .social_media .fa-instagram {
      margin-right: 0;
    }
    .footer .copyright {
          justify-self: start;
          align-self: center;
    }
    .footer .copyright p {
      margin-bottom: 0;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .navbar {
      padding: 1rem 6rem;
      display: flex;
              flex-direction: row;
              justify-content: space-between;
    }
    .navbar .logo {
          flex-basis: 20%;
          flex-shrink: 1;
    }
    .navbar .logo img {
      width: 10rem;
      height: auto;
    }
    .navbar .menubar, .navbar .nav_button {
      display: inline;
    }
    .navbar .menubar li:active, .navbar .menubar li:hover, .navbar .nav_button li:active, .navbar .nav_button li:hover {
      color: #167ddd;
    }
    .navbar .nav_button .sky-blue:hover, .navbar .nav_button .sky-blue:active, .navbar .nav_button .dark-blue:hover, .navbar .nav_button .dark-blue:active {
      border: 1px solid #222844;
      background-color: whitesmoke;
      color: #222844;
      transition: background-color 0.1s ease-out;
    }
    .navbar i {
      display: none;
    }
    .navbar .menubar {
    flex-basis: 50%;
    max-width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-self: center;
    align-self: center;
    flex-shrink: 2;
    margin-bottom: 0;
    }
    .navbar .menubar li {
      font-size: 0.9rem;
      font-weight: 600;
    }
    .navbar .nav_button {
          flex-basis: 17.7rem;
          flex-shrink: 0;
    }
    .navbar .nav_button .sky-blue, .navbar .nav_button .dark-blue {
      border: 1px solid #222844;
      border-radius: 3px;
      font-weight: 600;
      font-size: 0.75rem;
    }
    .navbar .nav_button .sky-blue {
      border: 1px solid #167ddd;
    }
    .navbar .nav_button .dark-blue {
      width: 127px;
    }
    .top {
      background-position: 0% 0%;
      background-size: cover;
      background-repeat: no-repeat;
      max-height: 15.5rem;
              justify-content: center;
      padding: 5rem 6rem;
              align-items: start;
    }
    .top .heading_container {
      max-width: auto;
      text-align: left;
    }
    .top .heading_container h1 {
      text-align: left;
      margin-bottom: 0.5rem;
      font-size: 2.5rem;
    }
    .data {
      padding: 3rem 7rem;
    }
    .data .data_container {
    display: grid;
    grid-template-columns: 6fr 2fr;
    padding: 2rem 3rem;
    }
    .data .data_container .part2 header h2 {
      margin-left: 0;
    }
    .data .data_container .part2 header h2::before {
      top: 1.7rem;
      left: -3rem;
      width: 2rem;
    }
    .data .data_container .part2 .heading_data p {
      font-size: 1rem;
      letter-spacing: 0.05rem;
    }
    .help {
      padding: 2rem 6rem;
    }
    .help .help_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    }
    .help .help_container .left h2 {
      margin-bottom: 0;
      font-size: 2rem;
      text-align: left;
    }
    .help .help_container .left p {
      text-align: left;
    }
    .help .help_container .right {
      text-align: right;
    }
    .help .help_container .right .sky-blue {
      font-size: 1.4rem;
      font-family: Nexa-Bold;
      font-weight: 600;
      padding: 1rem 1.5rem;
    }
    .footer {
      padding: 1rem 6rem;
      border-bottom: 8px solid #167ddd;
    }
    .footer li {
      font-size: 0.9rem;
      font-weight: 600;
    }
    .footer .tags li:hover, .footer .tags li:active {
      color: #167ddd;
      transition: color 0.1s ease-in;
    }
    .footer .social_media .fab:hover, .footer .social_media .fab:active {
      color: #167ddd;
    }
    .footer .copyright p {
      font-weight: 600;
      letter-spacing: 0.025rem;
    }
  }