body{
    user-select: none;
}

.fas {
    color: #525659;
    height: auto;
    margin-top: 0.5rem;
  }
  
  .navbar {
    height: auto;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 1rem;
  }
  
  .navbar .logo img {
    height: 1.5rem;
    width: 6rem;
    object-fit: cover;
  }
  
  .navbar .menubar, .navbar .nav_button {
    display: none;
  }
  
  .top {
    background-image: url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/contactUs.png);
    background-size: fill;
    background-position: 50% 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 17.5rem;
    padding: 0;
  }
  
  .top .heading_container h1, .top .heading_container span {
    color: white;
  }
  
  .top .heading_container h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  
  .top .heading_container span {
    font-family: Nexa-Light;
  }
  
  .map_container {
    padding: 1.5rem;
  }
  
  .embedded_container {
    padding: 0;
  }
  
  .data_list {
    padding: 1.5rem;
  }
  
  .data_list .data_list_container {
    display: grid;
    grid-gap: 1.5rem;
  }
  
  .data_list .data_list_container li {
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
  }
  
  .data_list .data_list_container li .fas {
    margin: 0;
    font-size: 1.5rem;
    color: #167ddd;
  }
  
  .data_list .data_list_container li div h5, .data_list .data_list_container li div h6 {
    text-align: left;
    margin: 0;
  }
  
  .data_list .data_list_container li div h5 {
    margin-bottom: 0.10rem;
  }
  
  .data_list .data_list_container li div h6 {
    font-family: Nexa-Light;
    font-size: 0.85rem;
  }
  
  .form_container {
    background: #93bede;
    padding: 1.5rem;
  }
  
  .form_container form {
    display: grid;
    grid-gap: 1rem;
    display: grid;
    grid-gap: 0.5rem;
  }
  
  .form_container form .innerform_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 0.5rem;
  }
  
  .form_container form input, .form_container form textarea {
    margin: 0;
    border: 1px solid #dbd8d8;
    height: 2.8rem;
  }
  
  .form_container form input::placeholder, .form_container form textarea::placeholder {
    font-family: Nexa-Bold;
    font-size: 0.80rem;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .form_container form .sky-blue {
    padding: 0.5rem 1rem;
    width: 10rem;
    border-radius: 0;
    font-family: Nexa-Bold;
    text-align: center;
    justify-self: end;
  }
  
  .footer {
    background-color: #222844;
    padding: 1rem;
    text-align: center;
  }
  
  .footer .social_media {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .footer .social_media .fab {
    margin-right: 1rem;
  }
  
  .footer img {
    width: 11rem;
    height: 3rem;
    object-fit: contain;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .footer li, .footer i, .footer p {
    color: #cccccc;
  }
  
  .footer li {
    font-size: 16px;
    margin-bottom: 1.15rem;
  }
  
  .footer .copyright p {
    font-weight: 500;
    letter-spacing: 0;
    margin-bottom: 0.75rem;
  }
  
  @media only screen and (min-width: 728px) {
    .navbar {
      padding: 1rem 2rem;
    }
    .map_container img {
      max-height: 60vh;
    }
    .data_list .data_list_container {
    grid-template-columns: repeat(3, 1fr);
    }
    .form_container form {
      grid-gap: 1rem;
    }
    .form_container form .innerform_container {
      padding: 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(3, 1fr);
      column-gap: 1rem;
    }
    .form_container form .innerform_container textarea {
      grid-column: 2/2;
      grid-row-start: 1;
      grid-row-end: 4;
      height: 100%;
      justify-content: center;
    }

    .form_container form .innerform_container textarea::placeholder {
      padding-top: 3.5rem;
    }
    .form_container form .innerform_container input:active, .form_container form .innerform_container textarea:active {
      outline: 2px solid #666565;
    }
    .form_container form .sky-blue {
      padding: 0.5rem 0.5rem;
      width: 10rem;
      font-size: 1.075rem;
    }
    .footer {
      padding: 1rem 2rem;
      display: grid;
      grid-template-columns: 3fr 1.5fr;
      grid-template-rows: repeat(2, 0.5fr);
      background-color: white;
      border-top: 1px solid #dbd8d8;
      border-bottom: 4px solid #167ddd;
    }
    .footer li, .footer i, .footer p {
      color: #222844;
      margin-bottom: 0;
    }
    .footer li {
      font-size: 0.9rem;
      letter-spacing: 0;
    }
    .footer p {
      color: black;
      font-weight: 700;
      font-size: 0.9rem;
    }
    .footer img {
    grid-row: 1/2;
    grid-column: 2/2;
    justify-self: end;
    align-self: center;
    }
    .footer .tags {
      grid-column: 1/2;
      grid-row: 1/2;
      align-self: center;
      text-align: center;
      max-width: 450px;
      margin: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .footer .social_media {
      grid-column: 2/2;
      grid-row: 2/2;
      justify-self: end;
      align-self: center;
      margin-bottom: 0;
    }
    .footer .social_media .fab {
      margin-right: 1.30rem;
    }
    .footer .social_media .fa-instagram {
      margin-right: 0;
    }
    .footer .copyright {
      justify-self: start;
      align-self: center;
    }
    .footer .copyright p {
      margin-bottom: 0;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .navbar {
    padding: 1rem 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }
    .navbar .logo {
    flex-basis: 20%;
    flex-shrink: 1;
    }
    .navbar .logo img {
      width: 10rem;
      height: auto;
    }
    .navbar .menubar, .navbar .nav_button {
      display: inline;
    }
    .navbar .menubar li:active, .navbar .menubar li:hover, .navbar .nav_button li:active, .navbar .nav_button li:hover {
      color: #167ddd;
    }
    .navbar .nav_button .sky-blue:hover, .navbar .nav_button .sky-blue:active, .navbar .nav_button .dark-blue:hover, .navbar .nav_button .dark-blue:active {
      border: 1px solid #222844;
      background-color: whitesmoke;
      color: #222844;
      transition: background-color 0.1s ease-out;
    }
    .navbar i {
      display: none;
    }
    .navbar .menubar {
      flex-basis: 50%;
      max-width: 40%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      justify-self: center;
      align-self: center;
      flex-shrink: 2;
      margin-bottom: 0;
    }
    .navbar .menubar li {
      font-size: 0.9rem;
      font-weight: 600;
    }
    .navbar .nav_button {
    flex-basis: 17.7rem;
    flex-shrink: 0;
    }
    .navbar .nav_button .sky-blue, .navbar .nav_button .dark-blue {
      border: 1px solid #222844;
      border-radius: 3px;
      font-weight: 600;
      font-size: 0.75rem;
    }
    .navbar .nav_button .sky-blue {
      border: 1px solid #167ddd;
    }
    .navbar .nav_button .dark-blue {
      width: 127px;
    }
    .top {
      background-position: 0% 0%;
      background-size: cover;
      background-repeat: no-repeat;
      max-height: 15.5rem;
      justify-content: center;
      padding: 5rem 6rem;
      align-items: start;
    }
    .top .heading_container {
      max-width: auto;
      text-align: left;
    }
    .top .heading_container h1 {
      text-align: left;
      margin-bottom: 0.5rem;
      font-size: 2.5rem;
    }
    .map_container {
      padding: 2rem 6rem;
    }
    .map_container img {
      max-height: 22.5rem;
    }
    .embedded_container {
      padding: 2rem 6rem;
      display: grid;
      grid-template-columns: 25% 75%;
    }
    .embedded_container .data_list {
      padding-left: 0;
    }
    .embedded_container .data_list .data_list_container {
    grid-template-columns: 1fr;
      row-gap: 1.5rem;
      margin-bottom: 0;
    }
    .embedded_container .data_list .data_list_container li {
    grid-template-columns: 1.5fr 9fr;
    align-items: flex-start;
    }
    .embedded_container .data_list .data_list_container li .fas {
      font-size: 1.25rem;
      margin-top: 0.30rem;
    }
    .embedded_container .data_list .data_list_container li div h5 {
      font-size: 1rem;
      margin: 0;
      line-height: normal;
    }
    .embedded_container .data_list .data_list_container li div h6 {
      margin: 0;
    }
    .footer {
      padding: 1rem 6rem;
      border-bottom: 8px solid #167ddd;
    }
    .footer li {
      font-size: 0.9rem;
      font-weight: 600;
    }
    .footer .tags li:hover, .footer .tags li:active {
      color: #167ddd;
      transition: color 0.1s ease-in;
    }
    .footer .social_media .fab:hover, .footer .social_media .fab:active {
      color: #167ddd;
    }
    .footer .copyright p {
      font-weight: 600;
      letter-spacing: 0.025rem;
    }
  }