<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tvastra</title>
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/theme.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav>
        <ul class = "mobileNavBar">
            <li><a><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="Logo" class="logo"></a></li>
            <li><a><i class="fa fa-bars"></i></a></li>
        </ul>
    </nav>
    <main>
        <section class="search">
            <h1>Find Affordable <span>Healthcare</span></h1>
            <p>Join the thousands of others who have exercised their rights to quality healthcare at a price you can afford</p>
            <form action="GET" id="searchBar">
                <div class="location"><input type="text" placeholder="Ahmedabad"><i class="fa fa-map-marker" aria-hidden="true"></i><i class="fa fa-crosshairs" aria-hidden="true"></i></div>
                <input type="text" placeholder="Search for Doctor,hospitals and treatments">
                <button type="submit" class="primary-button">Search</button>
            </form>
        </section>
        <section class="how-it-works-section">
            <div class="how-it-works-container">
                <div class="how-it-works-heading">
                    <h2>How it works</h2>
                </div>
                <div class="how-it-works-paragraph common-para-class">
                    <p>Various facilities are provided here.But there is a protocol which needs to be followed so that you
                        get the service at its best.</p>
                </div>
                <div class="how-it-works-button-all">
                    <div class="how-it-works-button">
                        <button class="common-how-it-work-class active-btn-1" onclick="show1()">
                            <span class="number active-number-1">01</span>
                            <span class="text active-text-1">Fix Consultation</span>
                        </button>
    
                        <div class="another-1">
                            <figure class="how-it-works-img-container">
                                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img1.png"
                                    alt="" class="img-container-img">
                                <figcaption class="text-img-container common-para-class">
                                    <h6>Fix Consultation</h6>
                                    <p>This depicts that user have to fix appointment first when it selects a particular
                                        doctor
                                    </p>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
    
                    <div class="how-it-works-button">
                        <button onclick="show2()" class="common-how-it-work-class">
                            <span class="number">02</span>
                            <span class="text">Upload Medical Reports</span>
                        </button>
    
                        <div class="another-1">
                            <figure class="how-it-works-img-container hide-img-container">
                                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img2.png"
                                    alt="" class="img-container-img">
                                <figcaption class="text-img-container common-para-class">
                                    <h6>Upload Medical Reports</h6>
                                    <p>This depicts that user have to fix appointment first when it selects a particular
                                        doctor
                                    </p>
                                </figcaption>
                            </figure>
                        </div>
    
                    </div>
    
                    <div class="how-it-works-button">
    
                        <button onclick="show3()" class="common-how-it-work-class">
                            <span class="number">03</span>
                            <span class="text">Consult with doctor</span>
                        </button>
    
    
                        <div class="another-1">
                            <figure class="how-it-works-img-container hide-img-container">
                                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img3.jpeg"
                                    alt="" class="img-container-img">
                                <figcaption class="text-img-container common-para-class">
                                    <h6>Consult with doctor</h6>
                                    <p>This depicts that user have to fix appointment first when it selects a particular
                                        doctor
                                    </p>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
    
                    <div class="how-it-works-button">
    
                        <button onclick="show4()" class="common-how-it-work-class">
                            <span class="number">04</span>
                            <span class="text">Fix Surgery</span>
                        </button>
    
                        <div class="another-1">
                            <div class="how-it-works-img-container hide-img-container">
                                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img4.jpeg"
                                    alt="" class="img-container-img">
                                <figcaption class="text-img-container common-para-class">
                                    <h6>Fix Surgery</h6>
                                    <p>This depicts that user have to fix appointment first when it selects a particular
                                        doctor
                                    </p>
                                </figcaption>
                            </div>
                        </div>
    
                    </div>
    
                    <div class="how-it-works-button">
    
                        <button onclick="show5()" class="common-how-it-work-class">
                            <span class="number">05</span>
                            <span class="text">Hospital sent estimates</span>
                        </button>
    
                        <div class="another-1">
                            <figure class="how-it-works-img-container hide-img-container">
                                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img5.jpg"
                                    alt="" class="img-container-img">
                                <figcaption class="text-img-container common-para-class">
                                    <h6>Hospital sent estimates</h6>
                                    <p>This depicts that user have to fix appointment first when it selects a particular
                                        doctor
                                    </p>
                                </figcaption>
                            </figure>
                        </div>
    
                    </div>
    
                    <div class="how-it-works-button">
    
                        <button onclick="show6()" class="common-how-it-work-class">
                            <span class="number">06</span>
                            <span class="text">Payment</span>
                        </button>
    
                        <div class="another-1">
                            <figure class="how-it-works-img-container hide-img-container">
                                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img6.jpg"
                                    alt="" class="img-container-img">
                                <figcaption class="text-img-container common-para-class">
                                    <h6>Payment</h6>
                                    <p>This depicts that user have to fix appointment first when it selects a particular
                                        doctor
                                    </p>
                                </figcaption>
                            </figure>
                        </div>
    
                    </div>
    
                    <div class="how-it-works-button works-button-last">
    
                        <button onclick="show7()" class="common-how-it-work-class">
                            <span class="number">07</span>
                            <span class="text">Surgery Completed</span>
                        </button>
    
                        <div class="another-1">
                            <figure class="how-it-works-img-container hide-img-container">
                                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img7.jpeg"
                                    alt="" class="img-container-img">
                                <figcaption class="text-img-container common-para-class">
                                    <h6>Surgery Completed</h6>
                                    <p>This depicts that user have to fix appointment first when it selects a particular
                                        doctor
                                    </p>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="doctor">
            <h1>World Class Expert Doctors!</h1>
            <p style="line-height: 1.1rem;">The university of Texas Southeastern Medical center has long been a world-renowned research hospital. But until the `80s, you couldn't go there. Now, with the addition of Aston Center and Zale Lipshy hospital, UT Southeastern is also a mecca for patient care.</p>
            <div class="cards">
            <div class="card">
                <div id=image><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--002.jpg" alt="doctor1"></div>
                <p class="name">____Duke Sanson</p>
                <p>Neuro Surgeon</p>
                <p>Chain Department of Neurological Surgery</p>
                <p>Australia</p>
            </div>
            <div class="card">
                <div id=image><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--004.jpg" alt="doctor2"></div>
                <p class="name">____Georgea Peter</p>
                <p>Breast Cancer Surgeon</p>
                <p>Director, UT, Southwest</p>
                <p>London</p>
            </div>
            <div class="card">
                <div id="image" style="height: 375px;"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--005.jpg" alt="doctor3"></div>
                <p class="name">____Charlie Moon</p>
                <p>Cardiac Surgeon</p>
                <p>MBBS, MD, FRCP, MRCP, Fellowship</p>
                <p>New Delhi, India</p>
            </div>
            <div class="card">
                <div id=image><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--003.jpg" alt="doctor4"></div>
                <p class="name">____Rose Moon</p>
                <p>Plastic Surgeon</p>
                <p>Department of Plastic and Reconstructive Surgery</p>
                <p>Dubai</p>
            </div>
            </div>
        </section>
        <section class="features">
            <h1>Featured Medical Treatments</h1>
            <p>The hospital provides various medical treatments done by our expert doctors. Your health is our priority.</p>
            <div class="a">

                <div class="gradient">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--009.jpg"/>
                    <div class="bottom">
                    <p>Dentistry</p>
                    <p class="subsection">50+ Specialists</p>
                    </div>
                </div>
                <div class="gradient">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--010.jpg"/>
                <div class="bottom">
                    <p>Cancer</p>
                    <p class="subsection">50+ Specialists</p>
                </div>
            </div>  
                <div class="gradient">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--008.jpg"/>
                    <div class="bottom">
                        <p>Orthopedics Surgery</p>
                        <p class="subsection">50+ Specialists</p>
                    </div>
                </div>
                <div class="gradient">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--011.jpg"/>
                    <div class="bottom">
                        <p>Cardiologic Treatment</p>
                        <p class="subsection">50+ Specialists</p>
                    </div>
                </div>
                <div class="gradient">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--000.jpg"/>
                    <div class="bottom">
                        <p>Infertility Treatment</p>
                        <p class="subsection">50+ Specialists</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="services">
            <div class="exclusive-service-div">
            <div class="exclusive-service-heading">
                <h4>Exclusive services</h4>
            </div>
            <div class="exclusive-service-paragraph common-para-class">
                <p>We want you to be comfortable and thus apart from threatning you illness. we provide you with other
                    services that you can see</p>
            </div>

            <div class="service-card">
                <figure class="travel-card common-card-property">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-01.png" alt="">
                    <figcaption class="common-inside-service-card">Travel</figcaption>
                </figure>
                <figure class="food-card common-card-property">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-02.png" alt="">
                    <figcaption class="common-inside-service-card">Food</figcaption>
                </figure>

                <figure class="accomodation-card common-card-property spcl-img-self-center">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-03.png" alt="">
                    <figcaption class="accomodation-spcl-class common-inside-service-card">ACCOMODATION</figcaption>
                </figure>
                <figure class="labs-card common-card-property">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-07.png" alt="">
                    <figcaption class="common-inside-service-card">Labs</figcaption>
                </figure>

                <figure class="reports-card common-card-property">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-10.png" alt="">
                    <figcaption class="common-inside-service-card">Reports</figcaption>
                </figure>
                <figure class="ambulance-card common-card-property spcl-img-self-center">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-06.png" alt="">
                    <figcaption class="common-inside-service-card">Ambulance</figcaption>
                </figure>
            </div>
        </div>
        </section>
        <section class="enquiry">
            <h2>Need Help?</h2>
            <p>Just let us know,we will be happy to assist you</p>
            <button>Submit your enquiry</button>
        </section>

    </main>
    <footer>
        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png" alt="logo" class="logo">
        <ul>   
        <li><a href="">Doctor</a></li>
            <li><a href="">Hospital</a></li>
            <li><a href="">Treatment</a></li>
            <li><a href="">Other Sevices</a></li>
            <li><a href="">FAQs</a></li>
        </ul> 
        <div id="icon2">
            <i class="fa fa-facebook-f"></i>
            <i class="fa fa-pinterest-p"></i>
            <i class="fa fa-twitter"></i>
            <!-- <i class="fa fa-google-plus-g"></i> -->
            <i class="fa fa-instagram"></i>
        </div> 
        <p>All rights reserved. &copy; tvastra 2018</p>
    </footer>
</body>
</html>